@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: "DinPro";
  src: url("../assets/font/dinpror.ttf");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "DinPro", sans-serif;
  font-weight: 700;
  background-color: #000;
}

select,
options {
  font-family: "DinPro", sans-serif;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  cursor: pointer;
}
